@charset "UTF-8";


:root {
    --p1: #ffbb00;
    --p2: #e4a30b;
    --p3: #a66f00;
    --p4: #664400;
    --p5: #332200;

    --w: #ffffff;

    --g1: #f7f7f7;
    --g2: #ededed;
    --g3: #dedede;
    --g4: #cccccc;
    --g5: #b2b2b2;
    --g6: #9c9c9c;
    --g7: #717171;
    --g8: #595959;
    --g9: #404040;
    --g10: #2e2e2e;
    --g11: #1a1a1a;
    --g12: #0e0e0e;
    --g13: #000000;

    --poppins: 
    --roboto: 
}