@charset "UTF-8";

:root {
    --p1: #ffbb00;
    --p2: #e4a30b;
    --p3: #a66f00;
    --p4: #664400;
    --p5: #332200;

    --w: #ffffff;

    --g1: #f7f7f7;
    --g2: #ededed;
    --g3: #dedede;
    --g4: #cccccc;
    --g5: #b2b2b2;
    --g6: #9c9c9c;
    --g7: #717171;
    --g8: #595959;
    --g9: #404040;
    --g10: #2e2e2e;
    --g11: #1a1a1a;
    --g12: #0e0e0e;
    --g13: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-bg {
    background-color: var(--g13);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    font-size: 1.125rem;
    color: var(--w);
    position: relative;
}

.header-menu a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    margin-top: 4px;
    background-color: var(--w);
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }
    
    .header-menu a {
        background: var(--g12);
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover {
        background-color: var(--g10);
    }

    .header-menu a::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }

    .header-menu a {
        padding: 8px 12px;
        font-size: 0.875rem;
    }
}